@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700);

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

body {
	font-family: 'Cutive Mono';
	background-color: rgba(0, 0, 0, 1.00);
	color: rgba(255, 255, 255, 1.00);
	/*overflow:hidden;*/
}

body * {
	z-index: 20;
	color: rgba(0, 0, 0, 1.00);
}

.text-container {
	position: relative;
	width: 80%;
	top: 50px;
	float: right;
}

#fs {
	position: relative;
	color: #000;
	margin: 20px;
	cursor: pointer;
}

header {
	font-family: 'Old Standard TT', serif;
	font-size: 200%;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-decoration: underline;

}

h2 {
	font-family: 'Old Standard TT', serif;
	font-weight: bold;
	font-size: 20px;
	height: 20px;
	margin: 0px;


}

h3 {
	font-family: 'Old Standard TT', serif;
	font-weight: 400;
	margin: 0px;
	margin-top: -10px;
}

h4 {
	font-family: 'Old Standard TT', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	margin: 0px;
	margin-top: -15px;
}

b {
	font-weight: bold !important;
}

.section {
	margin: 10px;
	margin-left: 2%;
	width: 35%;
}

#experience {
	float: left;
}

#education {
	float: left;
}

#skills {
	float: left;
}

/*#fs {
    position: relative;
    color: #000;
    margin: 20px;
    cursor: pointer;
}*/

#about {
	float: left;
}

#contact {
	float: left;
}



/*/////////////////////////////////  FLASHLIGHT EFFECT ////////////////////////////  */

#light {
	position: absolute;
	width: 700px;
	height: 700px;
	background-color: #fff;
	z-index: 10;
	-webkit-box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 0px 200px 200px rgba(0, 0, 0, 1);

}


/*//////////////////////////////// END FLASHLIGHT EFFECT ///////////////////////////  */